*{
  box-sizing: border-box;
}
body{
    background-color: navy;
    color: white;
}
img{
    float: right;
    max-width: 760px;
}

@media screen and (max-width:480px) {
    body{
        background-color: darkred;
    }
    img{
        float: none;
        max-width: 100%;
    }
}

@media screen and (max-width:320px) {
    body{
        background-color: darkkhaki;
        color: black;
    }
}